.DS_Store
/.build
/.build-ubuntu
/Packages
/config.json
/spec.json
./config/localdev-config.json
HelloKitura.xcodeproj/project*
HelloKitura.xcodeproj/xcuserdata/stevenprichard.xcuserdatad/xcschemes/xcschememanagement.plist
HelloKitura.xcodeproj/project.xcworkspace/xcuserdata/stevenprichard.xcuserdatad/UserInterfaceState.xcuserstate
